<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<span id="countdown"></span>
<span>
    <p th:if="${scores !=null}" th:text="${'Score : ' + scores}"></p>
</span>
<a th:href="@{/game-done}"><button>Done</button></a>
<button>Reset</button>
<script>
    var timeleft = 100; //count down interval
    var downloadTimer = setInterval(function(){
        if(timeleft <= 0){
            clearInterval(downloadTimer);
            //when count down over, do something
            document.getElementById("countdown").innerHTML = "Finished";
        } else {
            //showing count down
            document.getElementById("countdown").innerHTML = timeleft;
        }
        timeleft -= 1; //decrease value
    }, 1000);
</script>
</body>
</html>